.chooseus_container{
    background-color:#ECF1F8;
    padding:2em 10% 0 10%;
}
.chooseus_wrapper{
    position: relative;
}
.chooseus_cards{
    position: relative;
    bottom: -40%;
    padding:2em;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 1em;
}