.editprofile_container {
  background: rgba(238, 244, 255, 0.6);
  box-shadow: inset 82.0333px -82.0333px 82.0333px rgba(181, 185, 194, 0.1), inset -82.0333px 82.0333px 82.0333px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(164.067px);
  border-radius: 1em;
  padding:2em 5em;
}
.editprofile_imgupload-box {
  border: 1px dashed black;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editprofile_input {
  width: 100%;
  background-color: white;
  border-radius: 0.3em;
  outline: none !important;
  border: .5px solid lightgray !important;
  padding: 0.3em 0.5em;
  box-shadow: none !important;

}
.login_input {
  width: 100%;
  background-color: white;
  border-radius: 0.3em;
  outline: none !important;
  border: none !important;
  padding: 0.3em 0.5em;
  box-shadow: none !important;

}

.form-select {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  -moz-padding-start: calc(0.75rem - 3px);
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 0.5px solid lightgray;
  border-radius: 0.5em !important;
  transition: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none !important;
  box-shadow: none !important;
}
.PhoneInputInput {
  flex: 1 1;
  min-width: 0;
  border: .5px solid lightgray;
  border-radius: .3em;
  padding: 0.3em 0.5em;
  outline: none!important;
  box-shadow: none!important;
}

@media(max-width:576px){
  .editprofile_container {
    padding:1em;
  }
}