.wavesbanner_container{
    /* background-image: url("../../assets/banner/wavesline.png");
    background-repeat: no-repeat; 
    background-size: 100% 100%; */
    padding: 5em 0;
    position: relative;
}
@keyframes move_wave1 {
    0% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
}
@keyframes move_wave2 {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(1)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    bottom: -1px;
    /* background-image: linear-gradient(transparent 0 0) padding-box,
    linear-gradient(-90deg, #0046b8 0%, #0046b8 45.31%, #0046b8 100%)border-box; */
}
.bgTop {
    z-index: 15;
    opacity: .7;
    
}
.bgMiddle {
    z-index: 10;
    opacity: .7;
    
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 200px;
}
.waveAnimation .waveMiddle {
    animation: move_wave1 35s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave2 35s linear infinite;
}

@media(max-width:576px){
    .wavesbanner_container{
        padding: 2.5em 0;
    }
}