.collections_cards{
    background-color: white;
    border:.5px solid lightgray;
}
.collections_cards-grid{
    padding:0 .5em;
    height: 100%;
}

@media(max-width:567px){
    .collections_cards{
        border: 1px solid lightgray;
    }
}